body{
    margin-top:0;
    font-family: sans-serif;
}

.banner{
    width:100%;
    height:100vh;
    background-image:url(images/donation11.jpg), linear-gradient(rgb(30, 204, 8) , rgb(167, 16, 187)
    );
    background-size: cover;
    background-position: center;

}
.content{
    width:100%;
    position:absolute;
    top:40%;
    text-align: center;
    color:rgb(212, 40, 10);
    font-size: 25px;
}


.link-button  {
    text-align:center;
    display:inline-block;
    text-decoration: none;
    width:100px;
    padding:10px;
    margin:15px 10px;
    border: 2px solid rgb(204, 52, 52);
    border-radius: 10px;
    background-image: linear-gradient(orange , red);
    color:white;
    font-weight: bold;

}
p{
    color:rgb(197, 218, 10);
}
h1{
    letter-spacing: 10px;
    word-spacing: 5px;
}